  * {
       box-sizing: border-box;
   }
body {
    font-family: 'Open Sans', sans-serif;
    color: darkgrey;
}

h1 {
    font-size: 16px;
}

p {
    font-size: 12px;
}

a{
    color: black;
    text-decoration: none;
}



/*MOBILE GRID AREA INDEX*/

.wrapper_index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo" "menubar" "slider_wrap" "news" "video" "about_products" ;
    align-items: center;
    text-align: center;
}

.logo {
    grid-area: logo;
    margin: 1em 12em 0em 12em;


}

.menubar {
    grid-area: menubar;
}

.slider_wrap {
    grid-area: slider_wrap;

}

.news {
    grid-area: news;
}

.video {
    grid-area: video;
}

.about_products {
    grid-area: about_products;
}



#menubar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-areas: "glowna" "produkty" "onas";
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin-top: 2.5em;
}

.menubar a {
    text-decoration: none;
    color: #707070;
}

#realizacje {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    text-align: center;
}

#scroll {
    margin: 3em 0em 1em 0em;

}


.news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
    grid-template-areas: "news";
    text-align: center;
    margin: 2em 2em 2em 2em;
    color: black;
    border-bottom: solid 1px #DEDEDE;
}

.video{
    margin: 2em 1em 2em 1em;
    color: black;
}

footer{
    display: grid;
    grid-template-columns: 4fr 0.3fr 0.3fr;
    font-size: 12px;
    background-color: #EAEAEA;
    padding: 1em;
    text-align: left;
    grid-column-gap: 1em;
}

.fb, .insta{
    text-align: right;
}

#fb, #insta{
    width: 30px;
}

.contactinfo{
    padding-left: 1em;

}


/* -----------------------MOBILE GRID PRODUCTS------------------------*/

.wrapperproducts{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo"
                        "menubar"
                         "cats"
                        "products"
                        "loadbut";

}


.products{text-align: center;
padding-top: 3em;

}

.title {
    border-bottom: solid 1px #D4D4D4;
    font-size: 14px;
    padding: 1em;
        margin: 1em 6em 3em 6em;

}



.loadbut{grid-area: loadbut;
text-align: center;}

#loadmore{
    background-color: white;
    color: #707070;
    border: none;
    text-align: center;
    font-size: 15px;
    margin-bottom: 3em;



}

.cats{
    grid-area: cats;
    text-align: center;
    margin: 1em;

   }

nav > a{
    text-decoration: none;
    color: black;
    padding: 0.5em;
    font-size: 12px;

}


/* -----------------------DESKTOP GRID PRODUCTS------------------------*/

@media (min-width: 850px) {

    /* ~~~~~~~~~~INDEX~~~~~~~~~~~~~~~~*/



    /* ~~~~~~~~~~PRODUCTS~~~~~~~~~~~~~ */
    .wrapperproducts{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo"
                        "menubar"
                        "cats"
                        "maincontent"
                        "loadbut";

}



    .title{
        display: none;
    }
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        margin: 2em 12em 2em 12em;

    }

    .maincontent {
        grid-area: maincontent;
    }

    #menubar{
        font-size: 18px;
    }

    .cats{text-align: center;
    margin: 2em;}
