  * {
       box-sizing: border-box;
   }
body {
    font-family: 'Titillium Web', sans-serif;
    color: darkgrey;
    margin: 0;
}

h1 {
    font-size: 16px;
    color: black;
}

p {
    font-size: 12px;
}

a{
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.bold{
    font-weight: bolder;
}

/*MOBILE GRID AREA INDEX*/

.wrapper_index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo" "menubar" "slider_wrap" "news" "video" "about_products" ;
    align-items: center;
    text-align: center;
}

.logo {
    grid-area: logo;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: " . logoimg  . ";
    margin-top: 2em;


}

 .logoimg{
        grid-area: logoimg;
    }


.menubar {
    grid-area: menubar;
}

.slider_wrap {
    grid-area: slider_wrap;

}

.news {
    grid-area: news;
}

.video {
    grid-area: video;
}

.about_products {
    grid-area: about_products;
}



#menubar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-areas: "glowna" "produkty" "onas";
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin-top: 1em;

}

.menubar a {
    text-decoration: none;
    color: black;
}

#realizacje {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    text-align: center;
}

#scroll {
    margin: 3em 0em 1em 0em;

}


.news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
    grid-template-areas: "news";
    text-align: center;
    margin: 2em 2em 2em 2em;
    color: black;
    border-bottom: solid 1px #DEDEDE;
}

.video{
    margin: 2em 1em 2em 1em;
    color: black;
}

footer{
    display: grid;
    grid-template-columns: 4fr 0.3fr 0.3fr;
    font-size: 12px;
    background-color: #EAEAEA;
    padding: 1em;
    text-align: left;
    grid-column-gap: 1em;
}

.fb, .insta{
    text-align: right;
}

#fb, #insta{
    width: 30px;
}

.contactinfo{
    padding-left: 1em;

}


/* -----------------------MOBILE GRID PRODUCTS------------------------*/

.wrapperproducts{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo"
                        "menubar"
                         "cats"
                        "products"
                        "loadbut";

}


.products{text-align: center;
padding-top: 3em;

}

.title {
    border-bottom: solid 1px #D4D4D4;
    font-size: 14px;
    padding: 1em;
        margin: 1em 6em 3em 6em;

}



.loadbut{grid-area: loadbut;
text-align: center;}

#loadmore{
    background-color: white;
    color: #707070;
    border: none;
    text-align: center;
    font-size: 15px;
    margin-bottom: 3em;



}

.cats{
    grid-area: cats;
    text-align: center;
    margin: 1em;

   }

nav > a{
    text-decoration: none;
    color: black;
    padding: 0.5em;
    font-size: 12px;

}

/* -----------------------MOBILE GRID DETAILS-----------------------*/

.arrow {
    cursor: pointer;

    top: 45%;
    margin-top: 25px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left {
    border-width: 10px 15px 10px 0;
    border-color: transparent black transparent transparent;
    left: 0;
    margin: 21vh 0vw 6vh 29.5vw;

}

#arrow-right {
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent black;
    right: 0;
    margin-top: 21.5vh;
    margin-left: 2vw;
}


.wrapperproductsDetails{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo"
                        "menubar"
                        "productdetail"  ;

}

#menubar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-areas: "glowna produkty onas"
                        "scroll scroll scroll";
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin-top: 1em;
}


#scroll{
    grid-area: scroll;
    text-align: center;
    width: 100%;
}

.productdetail{
    text-align: center;
    margin: 1em;
}

#title{
    color: black;
}

#date{
    font-size: 12px;

}
#description{
    padding-top: 1em;
    color: black;
}
h3{
    margin: 0;
}
h2{
    margin: 0;
}





/* -----------------------MOBILE GRID ABOUTUS----------------------*/

.wrapper_aboutus{display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo"
                        "menubar"
                        "us"
        "aboutus"
        "contactform";
}

.us{grid-area: us;
text-align: center;
padding: 2em;}

.aboutus{grid-area: aboutus;
text-align: center;
border-top: 1px solid #D4D4D4;
padding: 2em;}

.contactform{grid-area: contactform;

}

.contactform > h1{
    text-align: center;
    margin-bottom: 2em;
}

#names, #email {
    border: none;
    border-bottom: 1px solid #D4D4D4;
    margin-left: 4em;
}

#message{
    margin: 2em 0em 2em 4em;
    border: 1px solid #D4D4D4;
    width: 25em;
    height: 10em;
    padding: 12px 20px;

}

#send{
    margin-left: 3.5em;
    margin-bottom: 2em;
}





/* -----------------------DESKTOP GRID ------------------------*/


@media (min-width: 850px) {

    p{
        font-size: 15px;
    }
    /* ~~~~~~~~~~INDEX~~~~~~~~~~~~~~~~*/

    .logo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: " . logoimg  . "

    }
    .logoimg{
        grid-area: logoimg;
    }

    #menubar{
        font-size: 23px;
    }

    footer{
    grid-template-columns: 4fr 0.1fr 0.1fr;
    font-size: 16px;
    padding: 1em;
    text-align: left;

}

    .scroll{
        width: 60%;
        margin-left: 20%;
    }

    /* ~~~~~~~~~~PRODUCTS~~~~~~~~~~~~~ */
    .wrapperproducts{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo"
                        "menubar"
                        "cats"
                        "products"
                        "loadbut";

}



    #titlelink{
        display: none;
    }

    #imagelink {
        display:none;
    }
    .products {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        grid-gap: 1em;
        margin: 2vh 24vw 2vh 24vw;

    }


    #menubar{
        font-size: 18px;
    }

    .cats{
        margin: 2em;
    }
  nav > a{
    text-decoration: none;
    color: black;
    padding: 2em;
    font-size: 16px;
}

     /* ~~~~~~~~~~DETAILS~~~~~~~~~~~~~ */

.productdetail{
    grid-area: productdetail;
    margin-left: 33vw;
    margin-right: 33vw;
    margin-bottom: 6vh;
    text-align: center;

}

    #menubar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-areas: "glowna produkty onas"
                        "arrow-left scroll arrow-right";
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin-top: 1em;
}

    #arrow-left{
        grid-area: arrow-left;
    }
  #arrow-right{
        grid-area: arrow-right;
    }

    #scroll{
        margin-left: 0;
        width: 100%;
    }





     /* ~~~~~~~~~~ABOUT US~~~~~~~~~~~~ */

.wrapper_aboutus{display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo"
                        "menubar"
                        "about-us"
        "contactform";
    }

    .aboutus{border-top: none;}
    .us{ padding: 1em 0em 2em 7em;
    }

    .about-us{
        grid-area: about-us;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "us aboutus";
        padding: 3em;
        border-bottom: 1px solid #D4D4D4;
        color: black;
    }

    .contactform{
        margin-top: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: " . form .  "

    }

    .contactfrom > h1{
        text-align: center;
    }

    .form{
        grid-area: form;
    }

    #names, #email {
    border: none;
    border-bottom: 1px solid #D4D4D4;
    margin-left: 4em;
}

#message{
    margin: 2em 0em 2em 4em;
    border: 1px solid #D4D4D4;
    width: 32em;
    height: 10em;
    padding: 12px 20px;

}

#send{border: none;
    margin-left: 3.5em;
    margin-bottom: 5em;
}

    .heading{
        text-align: center;
    }
